<a href="https://colab.research.google.com/github/1k-y3/CIS2300/blob/main/CIS2300_FinalProject_DataSources_Kelly_Avalos(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CIS 2300 Final Project: Cost of Living and Salary Across Countries

Kelly Avalos | CIS 2300 Programming and Computational

# **What countries around the world have the best salary to cost of living ratio?**

**Problem**

As students and professionals consider relocating to countries that offer better financial stability and quality of life, they may begin to wonder if their salary will be able to afford the cost of living in a country that may be out of their price range. There are many countries where the average salary seems desireable and financially freeing, but they may be disappointed to find that there is also a higher cost of living that comes along with it. This project will analyze global average salaries and cost of living indexes around the world, providing a quick summary of possible relocation opportunities that users may be interested in.

**Objective**

By merging together datasets on the cost of living indexes and global salary data, we will be able to determine which countries offer the best salary to cost of living ratio. By refering to the indexes of countries around the world, we can compare the living conditions of other countries compared to New York City indexes.

**Expected use case**

Through a quick Google search, we can easily determine the cost of living and average salary of a career in a specific country. However, there are many factors that can make the decision to relocate to a new country difficult, such as determining living arrangements, differences in lifestyle, and expected salary.
This dataset will cover a range of average salaries per country in recent years. It will also cover the cost of living (with rent) index, rent index, groceries index, restaraunt price index, and local purchasing power index for countries around the world in the year 2024. Choosing a new country to live in can be stressful, but this data source aims to help with that decision.


Users will be able to:

* Compare countries based on affordability index
* Identify countries with a high standard of living and sustainable salaries
* Use a map as a first step in researching relocation options

**Available data**

Though available data on global salaries and cost of living indexes by country, we can determine the most satisfactory country to live in.

* Global Salary Data (Kaggle)

* Cost of Living Index by Country (Kaggle)


For Data Map:

A third data set was added later on in this project for visualizations
* Countries Geo-Location Dataset (Kaggle)

# Import Data Sets



---

## Global Salary Data

In [100]:
import csv

In [101]:
# Global Salary Data | importing dataset via GitHub
!curl https://raw.githubusercontent.com/1k-y3/CIS2300/refs/heads/main/salary_data.csv -o "salary_data.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12594  100 12594    0     0  30721      0 --:--:-- --:--:-- --:--:-- 30792

In [102]:
# Using pandas to read the csv dataset
import pandas as pd

In [103]:
data_dict = dict()
pd.read_csv("salary_data.csv")

,country_name,continent_name,wage_span,median_salary,average_salary,lowest_salary,highest_salary
0,Afghanistan,Asia,Monthly,853.740000,1001.150000,252.530000,4460.970000
1,Aland Islands,Europe,Monthly,3319.240000,3858.350000,972.520000,17124.740000
2,Albania,Europe,Monthly,832.840000,956.920000,241.220000,4258.490000
3,Algeria,Africa,Monthly,1148.840000,1308.810000,330.110000,5824.180000
4,American Samoa,Oceania,Monthly,1390.000000,1570.000000,400.000000,6980.000000
...,...,...,...,...,...,...,...
216,Virgin Islands (US),North America,Monthly,2380.000000,2710.000000,680.000000,12000.000000
217,Western Sahara,Africa,Monthly,908.560000,1011.670000,254.860000,4503.890000
218,Yemen,Asia,Monthly,120.980000,133.360000,33.620000,594.930000
219,Zambia,Africa,Monthly,0.261335,0.285524,0.072092,1.271103
220,Zimbabwe,Africa,Monthly,555.402040,602.376350,151.423050,2674.772000

In [104]:
# Fixed formatting, keeping number of decimal places to 2
salary_df = salary_df.round(2)
salary_df

,Country,Region,wage_span,median_salary,average_salary,lowest_salary,highest_salary
0,Afghanistan,Asia,Monthly,853.74,1001.15,252.53,4460.97
1,Aland Islands,Europe,Monthly,3319.24,3858.35,972.52,17124.74
2,Albania,Europe,Monthly,832.84,956.92,241.22,4258.49
3,Algeria,Africa,Monthly,1148.84,1308.81,330.11,5824.18
4,American Samoa,Oceania,Monthly,1390.00,1570.00,400.00,6980.00
...,...,...,...,...,...,...,...
216,Virgin Islands (US),North America,Monthly,2380.00,2710.00,680.00,12000.00
217,Western Sahara,Africa,Monthly,908.56,1011.67,254.86,4503.89
218,Yemen,Asia,Monthly,120.98,133.36,33.62,594.93
219,Zambia,Africa,Monthly,0.26,0.29,0.07,1.27
220,Zimbabwe,Africa,Monthly,555.40,602.38,151.42,2674.77

In [105]:
# Finding column types
salary_cols = ['country_name', 'continent_name', 'wage_span', 'average_salary', 'median_salary', 'lowest_salary', 'highest_salary']

salary_df = pd.read_csv('salary_data.csv', usecols=salary_cols)

salary_df = pd.read_csv('salary_data.csv')

salary_df.dtypes

country_name       object
continent_name     object
wage_span          object
median_salary     float64
average_salary    float64
lowest_salary     float64
highest_salary    float64
dtype: object



---

## Cost of Living Index by Country

In [106]:
# Regional Cost of Living Data
!curl https://raw.githubusercontent.com/1k-y3/CIS2300/refs/heads/main/Cost_of_Living_Index_by_Country_2024.csv -o "Cost_of_Living_Index_by_Country_2024.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  5252  100  5252    0     0  11701      0 --:--:-- --:--:-- --:--:-- 11697

In [107]:
# Using pandas to read the csv dataset
import pandas as pd

In [108]:
data_dict = dict()
pd.read_csv("Cost_of_Living_Index_by_Country_2024.csv")

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7
1,2,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6
2,3,Iceland,83.0,39.2,62.0,88.4,86.8,120.3
3,4,Singapore,76.7,67.2,72.1,74.6,50.4,111.1
4,5,Barbados,76.6,19.0,48.9,80.8,69.4,43.5
...,...,...,...,...,...,...,...,...
116,117,Bangladesh,22.5,2.4,12.8,25.7,12.8,33.1
117,118,India,21.2,5.6,13.7,23.8,15.1,82.6
118,119,Egypt,21.0,3.7,12.7,21.2,16.2,20.0
119,120,Libya,20.4,4.3,12.7,22.2,15.2,42.0
120,121,Pakistan,18.8,2.8,11.1,17.5,12.9,29.1

In [109]:
# Finding column types
cost_cols = ['Country', 'Cost of Living Index', 'Rent Index', 'Cost of Living Plus Rent Index', 'Groceries Index', 'Restaurant Price Index', 'Local Purchasing Power Index']

cost_df = pd.read_csv('Cost_of_Living_Index_by_Country_2024.csv', usecols=cost_cols)

cost_df = pd.read_csv('Cost_of_Living_Index_by_Country_2024.csv')

cost_df.dtypes

Rank                                int64
Country                            object
Cost of Living Index              float64
Rent Index                        float64
Cost of Living Plus Rent Index    float64
Groceries Index                   float64
Restaurant Price Index            float64
Local Purchasing Power Index      float64
dtype: object



---

# Joining Data

In [110]:
print(cost_df.columns)
print(salary_df.columns)

Index(['Rank', 'Country', 'Cost of Living Index', 'Rent Index',
       'Cost of Living Plus Rent Index', 'Groceries Index',
       'Restaurant Price Index', 'Local Purchasing Power Index'],
      dtype='object')
Index(['country_name', 'continent_name', 'wage_span', 'median_salary',
       'average_salary', 'lowest_salary', 'highest_salary'],
      dtype='object')

In [111]:
# Matching column names
salary_df.rename(columns={"country_name": "Country"}, inplace=True)
salary_df.rename(columns={"continent_name": "Region"}, inplace=True)

In [112]:
# Gathering needed columns
cost_df = cost_df[['Country', 'Cost of Living Index', 'Rent Index', 'Cost of Living Plus Rent Index', 'Groceries Index', 'Restaurant Price Index', 'Local Purchasing Power Index']]
salary_df = salary_df[['Country', 'Region', 'wage_span', 'median_salary', 'average_salary', 'lowest_salary', 'highest_salary']]

In [113]:
# Merging data
merged_df = pd.merge(cost_df, salary_df, on='Country', how='inner')
merged_df

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Region,wage_span,median_salary,average_salary,lowest_salary,highest_salary
0,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7,Europe,Monthly,9836.07,11292.90,2850.27,50363.93
1,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6,North America,Monthly,3541.00,3908.00,983.00,17416.00
2,Iceland,83.0,39.2,62.0,88.4,86.8,120.3,Europe,Monthly,4661.20,5049.03,1273.23,22464.51
3,Singapore,76.7,67.2,72.1,74.6,50.4,111.1,Asia,Monthly,5647.06,6235.29,1573.53,27720.59
4,Barbados,76.6,19.0,48.9,80.8,69.4,43.5,Caribbean,Monthly,1395.00,1635.00,410.00,7250.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,Bangladesh,22.5,2.4,12.8,25.7,12.8,33.1,Asia,Monthly,218.57,236.71,59.68,1052.06
109,India,21.2,5.6,13.7,23.8,15.1,82.6,Asia,Monthly,327.97,384.43,97.07,1717.92
110,Egypt,21.0,3.7,12.7,21.2,16.2,20.0,Africa,Monthly,254.53,298.51,75.36,1329.24
111,Libya,20.4,4.3,12.7,22.2,15.2,42.0,Africa,Monthly,417.18,470.35,118.61,2085.89
112,Pakistan,18.8,2.8,11.1,17.5,12.9,29.1,Asia,Monthly,245.34,284.90,71.83,1266.61

In [114]:
# Adjusting column names
merged_df.rename(columns={
    "average_salary": "Average Monthly Income",
    "median_salary": "Median Salary",
    "lowest_salary": "Lowest Salary",
    "highest_salary": "Highest Salary"
}, inplace=True)

In [115]:
merged_df

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Region,wage_span,Median Salary,Average Monthly Income,Lowest Salary,Highest Salary
0,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7,Europe,Monthly,9836.07,11292.90,2850.27,50363.93
1,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6,North America,Monthly,3541.00,3908.00,983.00,17416.00
2,Iceland,83.0,39.2,62.0,88.4,86.8,120.3,Europe,Monthly,4661.20,5049.03,1273.23,22464.51
3,Singapore,76.7,67.2,72.1,74.6,50.4,111.1,Asia,Monthly,5647.06,6235.29,1573.53,27720.59
4,Barbados,76.6,19.0,48.9,80.8,69.4,43.5,Caribbean,Monthly,1395.00,1635.00,410.00,7250.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,Bangladesh,22.5,2.4,12.8,25.7,12.8,33.1,Asia,Monthly,218.57,236.71,59.68,1052.06
109,India,21.2,5.6,13.7,23.8,15.1,82.6,Asia,Monthly,327.97,384.43,97.07,1717.92
110,Egypt,21.0,3.7,12.7,21.2,16.2,20.0,Africa,Monthly,254.53,298.51,75.36,1329.24
111,Libya,20.4,4.3,12.7,22.2,15.2,42.0,Africa,Monthly,417.18,470.35,118.61,2085.89
112,Pakistan,18.8,2.8,11.1,17.5,12.9,29.1,Asia,Monthly,245.34,284.90,71.83,1266.61

In [116]:
# Dropping columns
merged_df = merged_df.drop(columns='wage_span')
merged_df

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Region,Median Salary,Average Monthly Income,Lowest Salary,Highest Salary
0,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7,Europe,9836.07,11292.90,2850.27,50363.93
1,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6,North America,3541.00,3908.00,983.00,17416.00
2,Iceland,83.0,39.2,62.0,88.4,86.8,120.3,Europe,4661.20,5049.03,1273.23,22464.51
3,Singapore,76.7,67.2,72.1,74.6,50.4,111.1,Asia,5647.06,6235.29,1573.53,27720.59
4,Barbados,76.6,19.0,48.9,80.8,69.4,43.5,Caribbean,1395.00,1635.00,410.00,7250.00
...,...,...,...,...,...,...,...,...,...,...,...,...
108,Bangladesh,22.5,2.4,12.8,25.7,12.8,33.1,Asia,218.57,236.71,59.68,1052.06
109,India,21.2,5.6,13.7,23.8,15.1,82.6,Asia,327.97,384.43,97.07,1717.92
110,Egypt,21.0,3.7,12.7,21.2,16.2,20.0,Africa,254.53,298.51,75.36,1329.24
111,Libya,20.4,4.3,12.7,22.2,15.2,42.0,Africa,417.18,470.35,118.61,2085.89
112,Pakistan,18.8,2.8,11.1,17.5,12.9,29.1,Asia,245.34,284.90,71.83,1266.61



---

# Country Look-Up

In [117]:
# Creating a function to look up data for a given country
def country_lookup(country_name, df):
  country_row = df[df["Country"].str.lower() == country_name.lower()]
  if not country_row.empty:
    # Gathering the data from the dataset
    country_name = country_row["Country"].values[0]
    salary = country_row["Average Monthly Income"].values[0]
    cost = country_row["Cost of Living Index"].values[0]
    region = country_row["Region"].values[0]
    rent = country_row["Rent Index"].values[0]
    groceries = country_row["Groceries Index"].values[0]
    restaurant = country_row["Restaurant Price Index"].values[0]
    purchasing = country_row["Local Purchasing Power Index"].values[0]
    # Organizing the data in an easy to read format
    print(f"\nCountry: {country_name.title()}")
    print(f"Region: {region.title()}")
    print(f"Average Monthly Salary: ${salary:,.2f}\n")
    print(f"Cost of Living Index: {cost}\n")
    print(f"Rent Index: {rent}")
    print(f"Groceries Index: {groceries}")
    print(f"Restaurant Price Index: {restaurant}")
    print(f"Local Purchasing Power Index: {purchasing}")
    print("\n")
    # A breakdown of what each index means for users to reference
    print("""
Index Summary:

* Cost of living indices are relative to New York City indicies. 100 is a baseline index of 100% for NYC. *

- Cost of Living Index (Excl. Rent): Reflects the price level of consumer goods (like groceries, transport, utilities) compared to NYC, excluding rent. A score of 120 means it's 20% more expensive than NYC.

- Rent Index: Compares average apartment rental prices to NYC. A score of 80 means rent is 20% cheaper than in NYC.

- Cost of Living Plus Rent Index: Combines both consumer goods and rent prices relative to NYC.

- Groceries Index: Estimates grocery prices in the city versus NYC.

- Restaurants Index: Compares restaurant and bar prices with those in NYC.

- Local Purchasing Power: Shows how much locals can afford based on their average salary. A score of 40 means locals can afford 60% less than NYC residents.
""")

  else:
    print("City not found. Please check the spelling.")

In [ ]:
# Use this look-up to bring up country data on salaries and common indexes
country_name = input("Enter a country: ")
country_lookup(country_name, merged_df)



---

# Cost of Living Map

## Importing Latitudes and Longitudes

In [120]:
# Import new dataset
!curl https://raw.githubusercontent.com/1k-y3/CIS2300/refs/heads/main/country_geolocation_data.csv -o "country_geolocation_data.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  9485  100  9485    0     0  22576      0 --:--:-- --:--:-- --:--:-- 22583

In [121]:
data_dict = dict()
pd.read_csv("country_geolocation_data.csv")

     Unnamed: 0       country_name country   latitude   longitude
0             0        Afghanistan      AF  33.939110   67.709953
1             1            Albania      AL  41.153332   20.168331
2             2            Algeria      DZ  28.033886    1.659626
3             3     American Samoa      AS -14.270972 -170.132217
4             4            Andorra      AD  42.546245    1.601554
..          ...                ...     ...        ...         ...
240         240  Wallis and Futuna      WF -13.768752 -177.156097
241         241     Western Sahara      EH  24.215527  -12.885834
242         242              Yemen      YE  15.552727   48.516388
243         243             Zambia      ZM -13.133897   27.849332
244         244           Zimbabwe      ZW -19.015438   29.154857

[245 rows x 5 columns]

In [71]:
location_cols = ['country_name', 'latitude', 'longitude']

location_df = pd.read_csv('country_geolocation_data.csv', usecols=location_cols)

location_df = pd.read_csv('country_geolocation_data.csv')

location_df.dtypes

Unnamed: 0        int64
country_name     object
country          object
latitude        float64
longitude       float64
dtype: object

In [73]:
location_df.rename(columns={"country_name": "Country"}, inplace=True)

In [74]:
print(cost_df.columns)
print(salary_df.columns)
print(location_df.columns)

Index(['Country', 'Cost of Living Index', 'Rent Index',
       'Cost of Living Plus Rent Index', 'Groceries Index',
       'Restaurant Price Index', 'Local Purchasing Power Index'],
      dtype='object')
Index(['Country', 'Region', 'wage_span', 'median_salary', 'average_salary',
       'lowest_salary', 'highest_salary'],
      dtype='object')
Index(['Unnamed: 0', 'Country', 'country', 'latitude', 'longitude'], dtype='object')

In [75]:
# Merging merged_df with the new data set
location_merged_df = pd.merge(merged_df, location_df, on='Country', how='inner')
location_merged_df

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Region,Median Salary,Average Monthly Income,Lowest Salary,Highest Salary,Unnamed: 0,country,latitude,longitude
0,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7,Europe,9836.07,11292.90,2850.27,50363.93,210,CH,46.818188,8.227512
1,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6,North America,3541.00,3908.00,983.00,17416.00,15,BS,25.034280,-77.396280
2,Iceland,83.0,39.2,62.0,88.4,86.8,120.3,Europe,4661.20,5049.03,1273.23,22464.51,99,IS,64.963051,-19.020835
3,Singapore,76.7,67.2,72.1,74.6,50.4,111.1,Asia,5647.06,6235.29,1573.53,27720.59,195,SG,1.352083,103.819836
4,Barbados,76.6,19.0,48.9,80.8,69.4,43.5,Caribbean,1395.00,1635.00,410.00,7250.00,18,BB,13.193887,-59.543198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Bangladesh,22.5,2.4,12.8,25.7,12.8,33.1,Asia,218.57,236.71,59.68,1052.06,17,BD,23.684994,90.356331
108,India,21.2,5.6,13.7,23.8,15.1,82.6,Asia,327.97,384.43,97.07,1717.92,100,IN,20.593684,78.962880
109,Egypt,21.0,3.7,12.7,21.2,16.2,20.0,Africa,254.53,298.51,75.36,1329.24,63,EG,26.820553,30.802498
110,Libya,20.4,4.3,12.7,22.2,15.2,42.0,Africa,417.18,470.35,118.61,2085.89,123,LY,26.335100,17.228331
111,Pakistan,18.8,2.8,11.1,17.5,12.9,29.1,Asia,245.34,284.90,71.83,1266.61,166,PK,30.375321,69.345116

In [122]:
# Adjusting column names
location_merged_df.rename(columns={
    "latitude": "Latitude",
    "longitude": "Longitude"
}, inplace=True)

In [ ]:
# Dropping columns
# WILL ONLY WORK ONCE
location_merged_df = location_merged_df.drop(columns=['country', 'Unnamed: 0'])

In [124]:
location_merged_df

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Region,Median Salary,Average Monthly Income,Lowest Salary,Highest Salary,Latitude,Longitude
0,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7,Europe,9836.07,11292.90,2850.27,50363.93,46.818188,8.227512
1,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6,North America,3541.00,3908.00,983.00,17416.00,25.034280,-77.396280
2,Iceland,83.0,39.2,62.0,88.4,86.8,120.3,Europe,4661.20,5049.03,1273.23,22464.51,64.963051,-19.020835
3,Singapore,76.7,67.2,72.1,74.6,50.4,111.1,Asia,5647.06,6235.29,1573.53,27720.59,1.352083,103.819836
4,Barbados,76.6,19.0,48.9,80.8,69.4,43.5,Caribbean,1395.00,1635.00,410.00,7250.00,13.193887,-59.543198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Bangladesh,22.5,2.4,12.8,25.7,12.8,33.1,Asia,218.57,236.71,59.68,1052.06,23.684994,90.356331
108,India,21.2,5.6,13.7,23.8,15.1,82.6,Asia,327.97,384.43,97.07,1717.92,20.593684,78.962880
109,Egypt,21.0,3.7,12.7,21.2,16.2,20.0,Africa,254.53,298.51,75.36,1329.24,26.820553,30.802498
110,Libya,20.4,4.3,12.7,22.2,15.2,42.0,Africa,417.18,470.35,118.61,2085.89,26.335100,17.228331
111,Pakistan,18.8,2.8,11.1,17.5,12.9,29.1,Asia,245.34,284.90,71.83,1266.61,30.375321,69.345116



---

## Map Creation

In [60]:
import folium

In [ ]:
# Creating a basic map to start with
map = folium.Map(location=[20, 0], zoom_start=2, max_zoom=6, min_zoom=2) # This min/max zoom will make sure users do not zoom out too far when viewing data
map

In [93]:
# When you hover over a marker, this will pop up
tooltip_str = "Click Here For More Info"

In [88]:
location_merged_df

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Region,Median Salary,Average Monthly Income,Lowest Salary,Highest Salary,Latitude,Longitude
0,Switzerland,101.1,46.5,74.9,109.1,97.0,158.7,Europe,9836.07,11292.90,2850.27,50363.93,46.818188,8.227512
1,Bahamas,85.0,36.7,61.8,81.6,83.3,54.6,North America,3541.00,3908.00,983.00,17416.00,25.034280,-77.396280
2,Iceland,83.0,39.2,62.0,88.4,86.8,120.3,Europe,4661.20,5049.03,1273.23,22464.51,64.963051,-19.020835
3,Singapore,76.7,67.2,72.1,74.6,50.4,111.1,Asia,5647.06,6235.29,1573.53,27720.59,1.352083,103.819836
4,Barbados,76.6,19.0,48.9,80.8,69.4,43.5,Caribbean,1395.00,1635.00,410.00,7250.00,13.193887,-59.543198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,Bangladesh,22.5,2.4,12.8,25.7,12.8,33.1,Asia,218.57,236.71,59.68,1052.06,23.684994,90.356331
108,India,21.2,5.6,13.7,23.8,15.1,82.6,Asia,327.97,384.43,97.07,1717.92,20.593684,78.962880
109,Egypt,21.0,3.7,12.7,21.2,16.2,20.0,Africa,254.53,298.51,75.36,1329.24,26.820553,30.802498
110,Libya,20.4,4.3,12.7,22.2,15.2,42.0,Africa,417.18,470.35,118.61,2085.89,26.335100,17.228331
111,Pakistan,18.8,2.8,11.1,17.5,12.9,29.1,Asia,245.34,284.90,71.83,1266.61,30.375321,69.345116

In [125]:
# This will add markers to each country and provide a pop up of country data
for index, row in location_merged_df.iterrows():
    country = row['Country']
    lat = row['Latitude'] # With the new data set that adds latitude and longitudes of countries, we can now place markers at each country
    lon = row['Longitude']

    # This will create a popup for a more visual approach to viewing country data around the world
    popup_info = folium.Popup(f"""
        <strong>{country}</strong><br>
        Region: {row['Region']}<br>
        Average Monthly Salary: ${row['Average Monthly Income']:,.2f}<br>
        Median Salary: ${row['Median Salary']:,.2f}<br>
        Lowest Salary: ${row['Lowest Salary']:,.2f}<br>
        Highest Salary: ${row['Highest Salary']:,.2f}<br>

        Cost of Living Index: {row['Cost of Living Index']}<br>
        Rent Index: {row['Rent Index']}<br>
        Groceries Index: {row['Groceries Index']}<br>
        Restaurant Price Index: {row['Restaurant Price Index']}<br>
        Local Purchasing Power Index: {row['Local Purchasing Power Index']}
    """, max_width=300)

    # Creates a custom marker
    marker = folium.Marker(
        location=[lat, lon],
        popup=popup_info,
        tooltip=country,
        icon=folium.Icon(color='blue', icon='info-sign')
    )

    # Adding markers to the map
    marker.add_to(map)

In [ ]:
# Will take a second to load, provides a full map of country data
map



---

**Concepts used**

* Functions (Country Look-Up)
* Files (csv files)
* Pandas Dataframes (merging datasets, filtering datasets, transforming datasets)
* Data Visualization (Folium map)
* Iteration (Country Map)

**Measures of Success**

* Merge and clean global salary data and cost of living index datasets into one dataset
* Create a country look up function that can quickly provide information on a specific country
* Create an interactive map using Folium that:
  * Displays markers for each country
  * Includes a popups with country data from the merged dataset

**Test Criteria**

Data Merge:
* The first data set I used did not provide accurate data from recent years for cost of living data. The data had salary ranges from multiple years and did not match up with my global data. After finding another dataset with cost of living indexes instead, the data merge was successful.
* The second merge with the first merged datasets and the new country location dataset was also successful after repeating the steps from the first dataset merge.

Marker Placement:
* By incorporating a new data set with coordinates for each country around the world, I was able to add markers to each country. After viewing the markers on the map, the marker placement was successful.

Popup Visual:
* The popups were tricky but after reviewing our folium lesson and doing some research on my own, the popup visuals were succesful and accurately displayed data for each country.

Map Performance:
* The map needed to be interactive and display a popup of data similar to the country look up function. After successfully adding markers and popups, the map works as intended.

**Out of Scope**

Using a larger data set with city specific data would provide better statistics into cost of living and salary information. This could be made into a separate project.

**Future Improvements**

Given more time and access to data, I would like to incorporate an API that provides real time updates on salary and index data for each country. Regarding the data, incorporating tax rate information would also be useful for users wishing to relocate.